<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ilove.coffee.adminorder.AdminOrderDAO">

   	<select id="allOrder" resultType="com.ilove.coffee.order.MyOrderVO">
   		select * from myorder
   	</select>
   	
   	<update id="orderstatusUpdate" parameterType="int">
   		update myorder
   		set deliveryStatus = 3
   		where orderNo = #{orderNo}
   	</update>
   	
</mapper>