<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ilove.coffee.order.OrderDAO">
	
	<insert id="orderDo" parameterType="com.ilove.coffee.order.MyOrderVO">
		insert into myorder(customerId, totalPrice, deliveryStatus, zipcode, address, addressDetail, regdate)
		values(#{customerId}, #{totalPrice}, #{deliveryStatus}, #{zipcode}, #{address}, #{addressDetail}, now())
	</insert>
   	
   	<delete id="deleteOrder" parameterType="int">
   		delete myorder
   		where orderNo=#{orderNo}
   	</delete>
   	
</mapper>