<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ilove.coffee.adminProduct.AdminProductDAO">

	<select id="allProduct" resultType="com.ilove.coffee.product.ProductVO">
		select * from product
	</select>
	
	<insert id="insertProduct" parameterType="com.ilove.coffee.product.ProductVO">
		insert into product(categoryNo, productName, price, explains, regdate, imageURL)
		values(#{categoryNo}, #{productName}, #{price}, #{explains}, now(), #{imageURL})
	</insert>
	
</mapper>